/* styles.css */

/* Styling for the map container */
#map {
  display: none; /* Initially hide the map */
  position: absolute;
  top: 20px;
  right: 20px;
  width: 600px; /* Adjust width as needed */
  height: 600px; /* Adjust height as needed */
  border: 1px solid #AAA;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
}

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 640px; /* Adjust based on the map width */
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.records {
  max-width: 100%;
  overflow: auto;
}

.table-container {
  max-height: 400px; /* Set a max height for scroll */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Optional: Add a border to the table for visual clarity */
#reportTable {
  border-collapse: collapse;
  width: 100%;
}

#reportTable th, #reportTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

select {
  width: 100%;
  padding: 5px;
}

td img {
  max-width: 75px; /* Adjust the maximum width as needed */
  max-height: 75px; /* Adjust the maximum height as needed */
  /* Add other styles as desired (e.g., border, padding, etc.) */
}
